@import '../../scss/common';
.nav{
  background-color: $light;
  border-top: 1px solid $nav-border;
  border-bottom: 1px solid $nav-border;
  padding: 11px 0;
  nav{
    text-align: center;
    display: block;
    width: 100%;
    a{
      display: inline-block;
      text-decoration: none;
      line-height: 30px;
      font-weight: 400;
      font-size: 14px;
      color: $nav;
      transition: .3s;
      margin: 0 10px;
      &:hover{
        color: $link;
      }
    }
  }
}